.ox-editable-section{
    @apply relative;

    &:hover{
        .ox-section-padding-y .ox-handlers{
            @apply flex;
        }
    }

    // Section Padding Y
    .ox-section-padding-y{
        @apply cursor-n-resize text-center w-full absolute top-0 left-0 w-full z-[2];

        .ox-label{
            @apply text-sm text-white bg-primary-500 hidden rounded-full px-3 py-1 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
        }

        .ox-handlers{
            @apply absolute left-[50%] translate-x-[-50%] -bottom-3 w-full max-w-[80%] mx-auto hidden justify-between items-center opacity-[0.5];

            .ox-handler{
                @apply h-1.5 w-12 bg-primary-500 rounded-full 
            }
        }

        &:hover{
            @apply bg-primary-500/[0.1];

            .ox-label{
                @apply block;
            }

            .ox-handlers{
                @apply opacity-100;
            }
        }
    }
}

// Section Options
.ox-section-options{
    @apply absolute top-2 left-10 rounded bg-black text-white text-sm flex overflow-x-hidden z-[2];

    .sec-btn:hover{
        @apply bg-white bg-primary-500;
    }

    .ox-section-additional-options{
        @apply hidden border-l;

        &>button:hover{
            @apply bg-zinc-800
        }
    }

    &:hover{
        .ox-section-additional-options{
            @apply flex;
        }
    }
}


// Column Options
.ox-column-options{
    @apply absolute top-2 right-0 bg-primary-500 text-white text-sm flex overflow-x-hidden z-[2];
}

.ox-section{
    &.dragging{
        &::after{
            @apply absolute top-0 left-0 w-full h-full bg-primary-400 rounded z-[2] content-[''];
        }

        @apply overflow-hidden;
    }
}

.ox-section-col{
    @apply relative box-border border border-transparent;

    &:hover{
        @apply border border-dashed border-primary-500
    }

    &.dragging{
        &::after{
            @apply absolute top-0 left-0 w-full h-full bg-primary-400 rounded z-[2] content-[''];
        }

        @apply overflow-hidden;
    }
}

.no-select{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ox-empty-column{
    @apply border border-dashed border-gray-300 rounded-lg h-full min-h-[50px] w-full flex items-center justify-center text-gray-400 text-xl cursor-pointer;
}

.ox-sidenav-widget{
    @apply rounded h-[80px] bg-white hover:bg-primary-500 hover:text-white text-center flex flex-wrap items-center justify-center cursor-grab;
}